{
	"vog_root" : "/home/moisseev/dev/vog-pipeline",
	"run_dir" : "/home/moisseev/dev/vog-pipeline/run",
	"runhrs": 60,
	"met" : {
		"wrf_path" : "/home/moisseev/opt/WRF-SFIRE",
		"wps_path" : "/home/moisseev/opt/WRF-SFIRE/WPS",
		"ibc" : "nam",
		"ibc_path" : "/home/moisseev/data/wrf_ibc/nam",
		"max_dom" : 2 
	},
	"dispersion" : {
		"hys_path" : "/home/moisseev/opt/hysplit",
		"spinup" : 6
		
	}
}
