{
	"vog_root" : "/home/moisseev/dev/vog-pipeline",
	"run_dir" : "/home/moisseev/dev/vog-pipeline/run",
	"runhrs": 60,
	"freq" : 12, 
	"met" : {
		"wrf_path" : "/home/moisseev/opt/WRF-SFIRE",
		"wps_path" : "/home/moisseev/opt/WRF-SFIRE/WPS",
		"ibc_path" : "/home/moisseev/data/wrf_ibc/nam",
		"max_dom" : 1
	},
	"source" : {
		"lat" : 19.4055,
		"lon" : -155.2811,
		"area" : 500,
		"num_emit" : 10,
		"pr_model" : "ops"
	},
	"dispersion" : {
		"hys_path" : "/home/moisseev/opt/hysplit.v5.1.0",
		"carryover_path" : "/home/moisseev/data/carryover",
		"spinup" : 6,
		"vert_motion" : 1, 
		"min_zi" : 1500
	},
	"post_process" : {
		"poe" : "[0.1, 1]"
	}
}
