#============# Vog Pipeline Configuration file==========
# NOTES: This config file uses HJSON fromat
#	-use quotes where string values (str) are requested 
# 	-block comments for masking unused otpions are permitted  (/*  */)

{
	vog_root : "/home/moisseev/dev/vog-pipeline"		#path to pipeline directory (str)
	run_dir : "/home/moisseev/vmap_lts/plumerise"		#specify working directory (str)
	runhrs: 18						#total simulation length
	spinup : 6                                    		#spinup hours (from beginning of met)
	max_dom : 1						#total number of met domains
	rerun: true						#partial rerun using existing vog_run.json (boolean)
	keys : "/home/moisseev/dev/vog-pipeline/config/api.keys"        #path to login details (optional, if required for automated authentification)
	modules: ['emissions','source','dispersion','post_process','extras']					#which modules to run (optional for reruns only)
        meteorology : {
		model : "wrf"					#met option (str): "wrf"/"nam"/"prerun"	
		##settings for "wrf" met
		wrf_path : "/home/moisseev/vmap/apps/wrf_system/wrfv4.3" 	#path to wrf model 
		wps_path : "/home/moisseev/opt/wps4.2"		#path to wps (str)
		ibc_path : "/home/moisseev/vmap_lts/plumerise/ibc"    #path to initial conditions (str)
		ibc : "historic"				#ibc input analysis (str): "nam"/"gfs"/"historic"
		##settings for "nam" met
		#type: "prod"					#type of arl file (str): "prod"/"archive"
		#arl_path : "/home/moisseev/vmap_lts/plumerise/arl" 	#path to arl file folder (str)
		##settings for "prerun" met 
                #prerun_path : "/home/moisseev/vmap_lts/multiscale/meso_t"       #path to wrfout files (str)
	},
	source : {
		src1 : {
			lat : 19.4055 				#emissions source lat
			lon : -155.2811				#emissions source lon
			pr_model : "static_area"                #plume rise model options (str): "static_area"/"cwipp"
			##Plume-rise settings: "static_area
			#height : 600				#emission hight mAGL
			#area : 500				#source area
			##Plume-rise settings: "cwipp"
			pr_model : "cwipp"	                #plume rise model options (str): "static_area"/"cwipp"
                        method : "mass"                         #how to calculate intensity (str): "hc"/"mass"
                        hc : 10                                 #heat transfer coefficient (W /m2 K) (for 'hc' method only)	
			vent_params : "flir"			#vent parameters source (str): "flir"/"prescribed")	
			flir_path : "/home/moisseev/vmap_lts/FLIR"	#path for saving thermal images
			temperature : 300 			#lava surface temperature (degrees C; "prescribed" vent_params only)
			area : 80000	 			#source area (m2), assumes circle currently ("prescribed" vent_params only)
		}
	},
        emissions : {
		src1 : {
                	input : "hvo"                           #how to obtain emissions (str): "hvo"/"manual"
			#settings for "hvo" emissions:
			stream: "campaign"			#data source (str): "flyspec"/"campaign"
			channel : "SUMDFW"			#channel (str): "SUMDFW"/"COC"/"LERZ" (for "campagin stream only)
			#settings for "manual" emissions:
                	#rate : 11166.0 			#tonnes/day (used for "manual" only)
		}
	},
	dispersion : {
		hys_path : "/home/moisseev/opt/hysplit.v5.1.0" 		#path to hysplit model (str)
		carryover_path : "/home/moisseev/vmap_lts/thermal/carryover"	#path to carryover vog files (str)
		freq : 12						#dump frequency for carryover in hours, chould equal run freq
		vert_motion : 1						#vertical motion setting for hysplit 2=isothermal 
		min_zi : 150						#hysplit min mixing depth
		numpar : 500                                            #hysplit particle count for emission cycle
		lvls: [0, 100, 5000]					#vertical levels for output (include 0 for deposition)
	},
	post_process : {
		conversion : {				#unit conversion: model assumes mg/m3
			SO2 : 0.38			#conversion to ppm for comparison with obs
			SO4: 1000			#conversion to ug/m3 for comparison with obs
		},
		poe :  {				#calculate probabilities of exceedance
			SO2 : [0.1, 1, 5]		#exceedance thresholds (3 max) in obs units (ppm) 
			SO4 : [39, 139, 527]            #exceedance thresholds (3 max) in obs units (ug/m3) - https://www.nps.gov/subjects/air/webcams.htm?site=havo
		},
		stns : {				#extract station traces
			SO2 : { 			#pollutant 
				tag : "wrf_flir_mass"	#file naming tag (str)
				stn_file : "/home/moisseev/dev/vog-pipeline/config/hysplit/obs_stns.txt"	#stn locations file (str)
			}
		},
		plots : { 				#specify which plots to create
			concentration : ["SO2","SO4"]	#concentration ensmble mean plots (list of strings)
			poe : ["SO2","SO4"]		#probability of exceedance plots (list of strings)
			ci : ["SO4"]			#column integrated contours (list of strings)
			#leaflet : true			#TODO flag to make transparent pngs for leaflet web display
		}	
	},
	extras : {					#other actions, assumes keychain access
		web : "vmap@mkwc2.ifa.hawaii.edu:/home/vmap/www/testing/data" 		#copy data to webserver path (str)
		#archive : "moisseev@thredds.soest.hawaii.edu:/export/thredds/archives/vog-pipeline"	#archive data on server path (str)
		stn_met: {
			loc_file : "/home/moisseev/dev/vog-pipeline/config/hysplit/obs_stns.txt"
			met_src : ['arl']		#type of file to extract met from 
		}
		/*
		hazard_map: {
			pollutants : ['SO2','SO4']	#pollutants to plot (str)
			plot: 'concentration'           #plot type (str): "concentration"/"poe"
			start : '2021-09-30'		#start date in UTC (YYYY-mm-DD)
			end : '2021-10-13'		#end date in UTC (YYYY-mm-DD)
			freq : '12h'			#cycle frequency  (str, pandas format e.g. '12h' )
			skiphrs: 12			#number of hours to exclude from start of dispersion output
			dump_nc : true			#optional: whether to output daily means as netcdf
			zflag : 1			#vertical level to extract (0 for deposition)
			cbar_units : 'ppm'              #units for concentration plots
			#poe_lvl: 1			#exceedance threshold to plot (post_process poe levels: 1, 2 or 3) 
		}
		*/
	}
}
